.lightbox {
  position: absolute;
  top: 600px;
  min-width: 375px;
  height: 75%;

  background-color: rgba(0, 0, 0, 0.8);
  display: none;

  h2 {
    color: #fff;
  }

  p {
    color: #fff;
  }
}

.close-lb {
  float: right;
  padding: 0 30px 0 0;
  cursor: pointer;
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  opacity: 0.6;
}

.close-lb:hover {
  opacity: 1;
}

.show-lightbox {
  display: grid;
  grid-template-columns: 0.1fr auto 0.1fr;
  grid-template-rows: auto 0.5fr 1fr;

  h2 {
    color: $sunset-yellow;
  }
}

@media screen and (min-width: 58em) {
  .lightbox {
    width: 1080px;
  }
}
