// main rules go here

// another generic comment

body {
  font: $main-font;
  font-size: $font-size;

  p,
  h1,
  h2,
  h3,
  h4,
  a {
    font-family: $main-font;
  }
  a {
    text-decoration: none;
  }
  p {
    font-weight: 400;
    color: $p-color;
  }
  .hidden {
    display: none;
  }

  h2 {
    font-weight: 500;
  }
}

.hidden {
  display: none;
}

#siteContainer {
  margin: 0 auto;
  max-width: 1080px;
}

/*mobile first*/

#mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: $header-bg-color;
}

#logo {
  margin-top: 50px;
  margin-left: 20px;
  height: 65px;

  img {
    width: 125px;
  }
}

#heroLand {
  background: black;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  min-width: 375px;
  min-height: 500px;

  h2 {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: $hero-Cont-h2-size;
    color: $sunset-yellow;
  }
}

// .user img {
//   width: 200px;
//   height: 205px;
// }

.poster {
  width: 250px;
  height: 375px;
  display: inline-block;
}

.lightboxPoster {
  width: 180px;
  height: 270px;
}
