// main rules go here

// another generic comment

body {
  font: $main-font;
  font-size: $font-size;

  p,
  h1,
  h2,
  h3,
  h4,
  a {
    font-family: $main-font;
  }
  a {
    text-decoration: none;
  }
  p {
    font-weight: 400;
    color: $p-color;
  }
  .hidden {
    display: none;
  }

  h2 {
    font-weight: 500;
  }
}

.hidden {
  display: none;
}

#siteContainer {
  margin: 0 auto;
  max-width: 1080px;
}

/*mobile first*/

#mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: $header-bg-color;
}

#logo {
  margin-top: 50px;
  margin-left: 20px;
  height: 65px;

  img {
    width: 125px;
  }
}
