$main-font: "Roboto", sans-serif, "helvetica";
$font-size: 22px;

$p-color: #39382c;

$header-bg-color: #525250;

// Nav
$burger-nav-bg-color: #525250;
$main-nav-font-size-m: 25px;
$main-nav-font-size-d: 30px;

//footer
$footer-font-size: 26px;
$footer-font-color: #707070;
$footer-bg-color: #3e3b3b;

//color
$sunset-yellow: #f9a826;
$white: #fff;
